# 配置服务器端口
server:
  port: 8000

# Spring应用配置
spring:
  # 应用名称
  application:
    name: gateway
  # Gateway路由配置
  cloud:
    gateway:
      # 路由列表
      routes:
        # 路由ID，用于唯一标识一个路由
        - id: member
          # 目标服务的URI
          uri: http://127.0.0.1:8001
          # 路由断言，定义了请求如何匹配此路由的条件
          predicates:
            # Path断言，匹配以/member/开头的所有路径
            - Path=/member/**
        # 路由ID，用于唯一标识一个路由
        - id: business
          # 目标服务的URI
          uri: http://127.0.0.1:8002
          # 路由断言，定义了请求如何匹配此路由的条件
          predicates:
            # Path断言，匹配以/member/开头的所有路径
            - Path=/business/**

      # 全局跨域资源共享配置
      globalcors:
        cors-configurations:
          '[/**]': # 对所有路径启用CORS
            allowedOriginPatterns: "*" # 允许所有来源访问
            allowedHeaders: "*" # 允许所有请求头
            allowedMethods: "*" # 允许所有请求方法
            allowCredentials: true # 允许凭证
            maxAge: 3600 # 预检请求缓存时间，单位秒